body {
  font-family: sans-serif;
  padding: 10px;
  width: 300px;
}

button {
  margin-top: 10px;
  display: block;
  width: 100%;
}

pre {
  margin-top: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f4f4f4;
  padding: 10px;
  height: 200px;
  overflow: auto;
}
